docker.enabled = true
// docker.runOptions = "--platform linux/amd64"

process {
    memory = { 2.GB * task.attempt }
    cpus = 4

    withName: 'generate_seurat_object' {
        memory = {6.GB + 2.GB * task.attempt}
        cpus = {6 + 2 * task.attempt}
    }
    
    withName: 'qc_processing' {
        memory = {4.GB + 2.GB * task.attempt}
    }

    withName: 'wnn_generation' {
        memory = {6.GB + 2.GB * task.attempt}
    }
    withName: 'sctransform' {
        memory = {6.GB + 2.GB * task.attempt}
    }
    withName: 'tfidf_lsi' {
        memory = {6.GB + 2.GB * task.attempt}
    }
    withName: 'singler' {
        memory = {6.GB + 2.GB * task.attempt}
    }


    resourceLimits = [
        memory: 18.GB,
        cpus: 12,
        time: 1d
    ]

    errorStrategy = 'retry'
    maxRetries = 10
    maxErrors = 30
}


// profiles = {
//     tj_laptop {
//         process.executor = 'local'
//         docker.enabled = true
//         process.resourceLimits = [
//             memory: 18.GB
//             cpus: 12
//             time: 1d
//         ]
//     }
// }