docker.enabled = true

process {
    memory = { 2.GB * task.attempt }
    cpus = 4

    withName: 'generate_seurat_object' {
        memory = {6.GB + 2.GB * task.attempt}
    }
    
    withName: 'qc_processing' {
        memory = {4.GB + 2.GB * task.attempt}
    }

    withName: 'wnn_generation' {
        memory = {6.GB + 2.GB * task.attempt}
    }


    resourceLimits = [
        memory: 18.GB,
        cpus: 12,
        time: 1d
    ]

    errorStrategy = 'retry'
    maxRetry = 8
}


// profiles = {
//     tj_laptop {
//         process.executor = 'local'
//         docker.enabled = true
//         process.resourceLimits = [
//             memory: 18.GB
//             cpus: 12
//             time: 1d
//         ]
//     }
// }