docker.enabled = true

process {
    memory = { 8.GB + 2.GB * task.attempt }
    cpus = 4


    resourceLimits = [
        memory: 18.GB,
        cpus: 12,
        time: 1d
    ]

    errorStrategy = 'retry'
}


// profiles = {
//     tj_laptop {
//         process.executor = 'local'
//         docker.enabled = true
//         process.resourceLimits = [
//             memory: 18.GB
//             cpus: 12
//             time: 1d
//         ]
//     }
// }